@use '../../styles/mixin' as *;
@use '../../styles/breakpoints' as *;

.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    // border: 1px solid #fff;
    background-color: #3b3030;
    z-index: 999;

    @include md {
        width: 20%;
        top: 0;
    }   

    @include lg {
        width: 15%;
    }
    
    &__menu {
        width: 100%;
        @include flex;

        @include md {
            height: 100%;
            @include flex($direction: column, $justifyContent: space-evenly);
        }

        &__logo {
            display: none;

            @include md {
                display: block;
                @include flex(column);
            }
            
            &__image {
                width: 60px;
                height: 60px;
                margin-bottom: 30px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            &__text {
                @include flex(column, center, center);
                gap: 10px 0;
                text-align: center;
                
                p{
                    font-size: 20px;
                    color: white;
                }
            }
        }

        &__links {
            width: 100%;
            @include flex($justifyContent: space-evenly);

            @include md {
                @include flex($direction: column);
            }

            &__link {
                @include text($fontSize: 10px);
                padding: 12px 0;

                @include md {
                    font-size: 13px;
                }
            }
        }

        &__networks {
            display: none;

            @include md {
                display: block;
                @include flex($direction: column);
                gap: 15px 0;
            }

            &__network {
                @include text($fontSize: 12px);
            }
        }
    }
}