@use '../../styles/mixin' as *;
@use '../../styles/breakpoints' as *;

.project {
    width: 100%;
    height: 300px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    @include sm {
        width: 60%;
    }

    @include md {
        width: 45%;
    }

    @include lg {
        width: 30%;
    }

    &__image {
        position: relative;
        width: 100%;
        height: 90%;
    }

    &__description {
        width: 100%;
        padding: 10px 0;
        @include text($fontSize: 10px);
        text-align: center;
        background-color: rgba($color: blueviolet, $alpha: 0.8);

        @include md {
            font-size: 12px;
        }
    }
}