@use '../../styles/mixin' as *;

.skill {
    @include flex(column, flex-start, center);
    width: 80%;
    color: #212121;

    &__name {
        width: 100%;
        padding: 10px 0;
        border: none;
        font-size: 18px;
        font-weight: 700;
        background-color: white;
        cursor: pointer;
    }

    &__list {
        width: 100%;
        height: auto;
        padding: 15px;
        @include flex(column, center, flex-start);
        gap: 10px 0;
        font-size: 17px;
        border: 1px solid white;
        color: white;

        &.active {
            display: none;
        }
    }
}