@use './styles/mixin' as *;
@use './styles/breakpoints' as *;

.about {

    &__title {
        @include section_title;
    }

    &__aboutMe {
        @include flex($wrap: wrap);
        gap: 20px 0;

        @include lg {
            height: calc(100vh - 150px);
            @include flex;
            gap: 0 50px;
        }

        &__image {
            // border: 1px solid white;
            position: relative;
            width: 80%;
            height: 300px;
            @include flex;

            @include sm {
                height: 400px;
            }

            @include md {
                width: 60%;
            }

            @include lg {
                width: 30%;
                height: 300px;
            }

            @include xl {
                width: 27%;
                height: 350px;
            }
            
        }

        &__description {
            @include flex($direction: column, $alignItems: flex-start);
            gap: 15px 0;
            color: white;
            font-size: 16px;
            text-align: justify;
            letter-spacing: 1.4px;
            line-height: 1.5;

            @include lg {
                flex: 2;
                font-size: 18px;
            }

            &__resume {
                margin-top: 30px;
                width: 100%;
                @include flex($direction: column, $alignItems: flex-start);
                gap: 10px 0;
                color: white;
                font-size: 16px;
                text-align: justify;
                letter-spacing: 1.5px;
        
                &__btn {
                    @include text($fontSize: 14px);
                    padding: 8px 15px;
                    background-color: blueviolet;
                    border: none;
                    cursor: pointer;

                    @include lg {
                        font-size: 15px;
                        padding: 12px 20px;
                    }
                }
                
            }
        }
    }

    

    
}