@use './variables' as *;
@use './breakpoints' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-source-sans;
}

html {
  /* background-color: #132932; */
  /* background-color: #2C2E33; */
  background-color: #212121;
  /* background-color: #142129; */
  /* background-color: #25272B; */
  scroll-behavior: smooth;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 30px 0 70px;

  @include md {
    width: 80%;
    margin: 20px 20%;
    padding: 0 20px;
  }

  @include lg {
    width: 85%;
    margin: 20px 15%;
  }

  @include landscape {
    width: 90%;
    margin: 20px 25%;
  }
}